---
import { count } from '@/lib/sounds';

import '@/styles/global.css';

interface Props {
  description?: string;
  title?: string;
}

const title = Astro.props.title || 'ZenRhythms | Free Meditation Music';
const description =
  Astro.props.description ||
  `ZenRhythms is an ambient sound generator featuring ${count()} carefully curated sounds. Create your ideal atmosphere for relaxation, focus, or creativity with this versatile tool.`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width" name="viewport" />
    <meta content={Astro.generator} name="generator" />
    <meta content="#18181b" name="theme-color" />
    <link href="/zenicon.png" rel="icon" type="image/svg+xml" />

    <title>{title}</title>
    <meta content={title} name="title" />
    <meta content={description} name="description" />

    <meta content={title} property="og:title" />
    <meta content={description} property="og:description" />
    <meta content="ZenRhythms" property="og:site_name" />
    <meta content="https://zenrhythms.com" property="og:url" />
    <meta content="website" property="og:type" />
    <meta content="https://zenrhythms.com/zenicon.png" property="og:image" />
  </head>
  <body>
    <slot />
  </body>
</html>
